:root {
  --color-primary: #3d4f73;
  --color-secondary: #6583BF;
  --color-white: #fff;
  --color-dark: #1B2333;
  --color-dark-opacity: rgba(0,0,0,0.5);
  --color-lightgray: #a7adc121;
  --color-lightgrey: #d3dae0;
  --color-danger: #bf6872;
  --color-success: #659981;
  --basic-transition-property: all;
  --basic-transition-function: ease-in-out;
  --basic-transition-duration: 0.15s;
  --basic-gap: 1rem;
  --size-max-width-desktop: 1440px;
  --header-height: 137.5px;
  --page-content-padding-top: var(--header-height);
  --footer-flex-direction: column;
  --section-embed-margin: 0 -1rem;
  --navbar-mobile-menu-display: block;
  --navbar-mobile-menu-size: 35px;
  --navbar-menu-mobile-size: 75vw;
  --navbar-menu-visibility: 0;
  --navbar-menu-position: absolute;
  --navbar-menu-position-x: calc(-1 * var(--navbar-menu-mobile-size));
  --navbar-menu-item-padding: 10px 50px;
  --navbar-menu-item-color: var(--color-primary);
  --navbar-menu-item-color-bg: transparent;
  --search-form-field-width: 100%;
  --search-button-color: var(--color-lightgrey);
  --form-control-border-color: var(--color-primary);
  --modal-z-index: -1;
  --modal-width: 100%;
  --modal-height: 100%;
}

/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-primary);
  font-family: "Montserrat", sans-serif;
}
main {
  background-color: var(--color-white);
  padding: 5%;
}
embed {
  display: block;
  height: 1600px;
  width: 100%;
  max-width: 640px;
  margin: auto;
  padding: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  transform: none;
  text-align: center;
}
h2 {
  color: var(--color-white);
  font-size: larger;
}
h3,
h4,
h5,
h6 {
  color: var(--color-white);
  font-size: large;
}
p {
  color: var(--color-dark);
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  line-height: 1.75;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
/* END Defaults */

[data-modal-target] {
  cursor: pointer;
}

.is-hidden {
  display: none !important;
  opacity: 0;
  visibility: hidden;
}

/* Button */
.button {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  color: var(--color-primary);
  background-color: var(--color-white);
  transition-property: var(--basic-transition-property);
  transition-timing-function: var(--basic-transition-function);
  transition-duration: var(--basic-transition-duration);
}
.button-more {
  margin: 4px;
  border: 2px solid transparent;
  background-color: var(--color-white);
  color: var(--color-primary);
}
.button-more:hover {
  background-color: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}
.button-border {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-primary);
}
.button-border:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}
/* END Button */

.has-success {
  color: var(--color-success);
}
.has-danger {
  color: var(--color-danger);
}

/* Forms */
.form-container {
  margin: 0 auto;
  width: 100%;
  max-width: 470px;
}
.form-group {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.form-buttons {
  display: flex;
  flex-direction: row-reverse;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: var(--color-primary);
}
.form-control {
  padding: 10px 20px 10px 20px;
  border: 2px solid var(--form-control-border-color);
  font-size: 16px;
  outline: none;
  transition-property: var(--basic-transition-property);
  transition-timing-function: var(--basic-transition-function);
  transition-duration: var(--basic-transition-duration);
}
.form-control:focus {
  --form-control-border-color: var(--color-secondary);
}
.form-group .form-control {
  width: 100%;
}
.form-group.has-success {
  position: relative;
}
.form-group.has-success::after {
  content: '';
  display: block;
  position: absolute;
  top: 40px;
  right: -20px;
  transform: rotate(-45deg);
  width: 10px;
  height: 6px;
  opacity: 0.75;
  border-bottom: 2px solid var(--color-success);
  border-left: 2px solid var(--color-success);
}
.form-group.has-danger .form-control {
  --form-control-border-color: var(--color-danger);
}
.form-group.has-success .form-control {
  --form-control-border-color: var(--color-success);
}
/* END Forms */

/* Page Header */
.page-header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  background-color: var(--color-primary);
  z-index: 1;
}
.homepage .page-header {
  background-color: var(--color-white);
}

/* Navbar */
.navbar {
  max-width: var(--size-max-width-desktop);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--basic-gap);
  padding: var(--basic-gap);
  position: relative;
  z-index: 2;
}
.navbar-brand {
  padding: 0;
}
.navbar-logo {
  width: 200px;
  height: 100px;
  margin-right: 20px;
  background-color: var(--color-primary);
  margin-left: auto;
}
.homepage .navbar-logo {
  background-color: var(--color-white);
}
/* Navbar Mobile Menu Button */
.navbar-mobile-menu {
  display: var(--navbar-mobile-menu-display);
  width: var(--navbar-mobile-menu-size);
  height: var(--navbar-mobile-menu-size);
  margin: auto 0;
  border: none;
  cursor: pointer;
  background: transparent;
}
.navbar-mobile-menu .line {
  display: block;
  width: var(--navbar-mobile-menu-size);
  height: 3px;
  background-color: var(--color-white);
  margin: 6px 0;
  transition: 0.4s;
}
.homepage .navbar-mobile-menu .line {
  background-color: var(--color-primary);
}
.navbar.is-active .line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.navbar.is-active .line:nth-child(2) {
  opacity: 0;
}
.navbar.is-active .line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
/* END Navbar Mobile Menu Button */

/* Navbar Menu */
.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  list-style: none;
  position: var(--navbar-menu-position);
  z-index: 99;
  transition-property: var(--basic-transition-property);
  transition-timing-function: var(--basic-transition-function);
  transition-duration: var(--basic-transition-duration);
}
.navbar-menu-item {
  text-align: right;
}
a.navbar-menu-link {
  display: block;
  padding: var(--navbar-menu-item-padding);
  color: var(--navbar-menu-item-color);
  background-color: var(--navbar-menu-item-color-bg);
  font-weight: 100;
  font-size: large;
  text-transform: uppercase;
  text-decoration: none;
  transition-property: var(--basic-transition-property);
  transition-timing-function: var(--basic-transition-function);
  transition-duration: var(--basic-transition-duration);
}
a.navbar-menu-link:hover {
  --navbar-menu-item-color: var(--color-white);
  --navbar-menu-item-color-bg: var(--color-primary);
}
/* END Navbar Menu */
/* END Navbar */
/* END Page Header */

/* Learn-more */
.learn-more {
  background-color: var(--color-primary);
  border: none;
  color: var(--color-white);
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.learn-more p {
  color: var(--color-white);
  margin: 0;
}
.homepage .learn-more .button-more,
.learn-more .button-more {
  color: var(--color-primary);
  background-color: var(--color-white);
}
.learn-more .button-more:hover {
  color: var(--color-white);
  background-color: transparent;
  border-color: var(--color-white);
}
.homepage .learn-more {
  text-align: left;
}
/* END Learn-more */

.section {
  background-color: var(--color-lightgray);
  margin-bottom: var(--basic-gap);
  padding: var(--basic-gap);
}
.section.no-background {
  background-color: transparent;
}
.section p {
  font-size: 1.125rem;
}
.section a {
  color: var(--color-secondary);
}
.section a:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
}
.section h1,
.section h2 {
  margin-bottom: 2rem;
}
.section-article {
  padding: 1.25rem;
}
.section-article .learn-more {
  margin: var(--basic-gap) 0 0 calc(-1 * var(--basic-gap));
}
.section-embed {
  margin: var(--section-embed-margin);
  padding: var(--basic-gap) 0;
}

/* Page Content */
.page-content {
  padding-top: var(--page-content-padding-top);
}
.page-container {
  max-width: var(--size-max-width-desktop);
  margin: 0 auto;
}
.page-content {
  padding-top: var(--page-content-padding-top);
}
.page-content__title {
  padding: 3.5rem 0 4rem;
}
.page-content__title-image {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}
body:not(.homepage) .page-content__title-image {
  filter: invert(0.75);
}
.page-content__heading {
  display: block;
  margin-bottom: 4rem;
  padding: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: bold;
  font-size: 1.625rem;
  text-decoration: none;
  text-align: center;
  line-height: 2;
}
.page-content__heading a {
  background-color: transparent;
}
/* END Page Content */

/* Homepage */
.homepage .section {
  background-color: var(--color-primary);
}
.homepage p,
.homepage .section a,
.homepage .section a:hover {
  color: var(--color-white);
  background-color: transparent;
}
/* END Homepage */

div.news {
  float: left;
  width: 100%;
  background-color: var(--color-secondary);
}

div.news h1 {
  color: var(--color-primary);
  padding: 0px 0 0 100px;
  font-size: large;
}

/* Page Footer */
.page-footer {
  display: flex;
  flex-direction: var(--footer-flex-direction);
  gap: 1.25rem;
  width: auto;
  height: auto;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
}
.page-footer p {
  font-style: normal;
  font-size: 16px;
  padding: 0px;
  color: var(--color-white);
}
.page-footer a {
  color: var(--color-white);
}
.page-footer a:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}
/* END Page Footer */

/* Search */
.search-form {
  width: 100%;
}
.search-form-label {
  display: none;
}
.search-form-field {
  width: var(--search-form-field-width);
}
.page-footer__search-trigger {
  display: flex;
  justify-content: space-between;
  width: var(--search-form-field-width);
  padding: 10px 20px;
  outline: none;
  border: 2px solid var(--search-button-color);
  background-color: var(--search-button-color);
  transition-property: var(--basic-transition-property);
  transition-timing-function: var(--basic-transition-function);
  transition-duration: var(--basic-transition-duration);
  font-size: 16px;
  color: var(--color-dark-opacity);
  cursor: pointer;
}
.page-footer__search-trigger:hover {
  --search-button-color: var(--color-white);
}
/* END Search */
/* Modal Search */
.modal-search-list {}
.modal-search-item {}
.modal-search-item__title {}
.modal-search-item__short-text {  
  --max-lines: 3;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}
/* END Modal Search */

/* Modal Window */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--modal-z-index);
  background-color: var(--color-dark-opacity);
  backdrop-filter: blur(10px);
  transition: all ease .25s;
  opacity: 0;
}
.modal-is-visible {
  z-index: 999;
  opacity: 1;
}
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--modal-width);
  height: var(--modal-height);
  padding: 2rem;
  background-color: var(--color-lightgrey);
  border-radius: 8px;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modal-header {
  padding: var(--basic-gap) 0;
  border-bottom: 1px solid var(--color-primary);
}
.modal-header-title {
  font-size: 1.75rem;
  font-weight: 300;
  color: var(--color-dark);
}
.modal-body {
  max-height: calc(100% - 65px);
  padding: var(--basic-gap) 0;
  overflow-y: auto;
  font-size: var(--basic-gap);
}
.modal-body,
.modal-body p {
  color: var(--color-dark);
}
.modal-body h4 {
  margin: 1.5rem 0 1.25rem;
  color: var(--color-dark);
}
.modal-body p {
  margin: var(--basic-gap) 0;
}
.modal-body a {
  color: var(--color-primary);
  text-decoration: underline;
}

.modal-body ul,
.modal-body ol {
  margin: var(--basic-gap) 0;
  padding-left: 1.625rem;
}
.modal-body li {
  margin: var(--basic-gap) 0;
  font-size: inherit;
}
.modal-iframe {
  width: 100%;
  height: 100%;
}
.modal-close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: var(--color-dark);
  transform-origin: center;
}
.modal-close::before {
  top: 15px;
  left: 2px;
  transform: rotate(45deg);
}
.modal-close::after {
  bottom: 15.5px;
  right: 1px;
  transform: rotate(-45deg);
}
/* END Modal Window */

/* Research List */
.research-list {
  display: inline-block;
  margin: 0 0 0 calc(-1 * var(--basic-gap));
  padding-left: var(--basic-gap);
  list-style: none;
  border-left: 2px solid var(--color-primary);
}
.research-item {
  margin: 0;
}
.research-link {
  display: block;
  padding: 0.375rem 0.5rem;
}
/* END Research List */

@media only screen and (max-width: 1023.75px) {
  :root {
    --navbar-menu-visibility: 0;
  }

  .navbar-menu {
    width: var(--navbar-menu-mobile-size);
    height: 100vh;
    position: absolute;
    top: 0;
    left: var(--navbar-menu-position-x);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0;
    opacity: var(--navbar-menu-visibility);
    box-shadow: 2px 2px 20px rgb(0 0 0 / 25%);
    background: var(--color-white);
  }
  .is-active .navbar-menu {
    --navbar-menu-visibility: 1;
    --navbar-menu-position-x: 0;
  }
  .navbar-menu-item {
    min-width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  :root {
    --section-embed-margin: 0;
    --modal-width: 480px;
    --modal-height: 360px;
  }
}
@media only screen and (min-width: 640px) {
  :root {
    --footer-flex-direction: row;
  }
  .page-footer__search {
    flex: 0 0 40%;
    order: 2;
  }
  .page-footer__copyright {
    flex: 0 0 60%;
    order: 1;
    text-align: right;
  }
  .modal-large {
    --modal-width: 640px;
    --modal-height: 480px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1023.75px) and (orientation: landscape) {
  .modal-small,
  .modal-large {
    --modal-height: calc(100vh - var(--basic-gap));
  }
}
@media only screen and (min-width: 1024px) {
  :root {
    --navbar-mobile-menu-display: none;
    --navbar-menu-position: inherit;
    --navbar-menu-visibility: 1;
    --navbar-menu-item-padding: 10px 20px;
    --navbar-menu-item-color: var(--color-white);
    --search-form-field-width: auto;
  }
  a.navbar-menu-link:hover {
    --navbar-menu-item-color: var(--color-primary);
    --navbar-menu-item-color-bg: var(--color-white);
  }
  .homepage {
    --navbar-menu-item-color: var(--color-primary);
  }
  .homepage .navbar-menu-link {
    font-weight: 500;
  }
  .homepage a.navbar-menu-link:hover {
    --navbar-menu-item-color: var(--color-white);
    --navbar-menu-item-color-bg: var(--color-primary);
  }
  /* .page-footer__search {
    flex: 0 0 40%;
    display: flex;
    justify-content: start;
    align-items: start;
  }
  .page-footer__copyright {
    flex: 0 0 60%;
  } */
}

@media only screen and (min-width: 1200px) {
  :root {
    --navbar-menu-item-padding: 10px 50px;
  }
}
