:root {
  --nav-bgcolor: #364f73;
  --nav-color:white;
  --nav-a-color: #364f73;
  --navbar-mobile-menu-display: block;
  --navbar-mobile-menu-size: 35px;
  --navbar-menu-mobile-size: 75vw;
  --navbar-menu-visibility: 0;
  --navbar-menu-position: absolute;
  --navbar-menu-position-x: calc(-1 * var(--navbar-menu-mobile-size));
  --navbar-menu-item-padding: 10px 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3d4f73;
  font-family: "Montserrat", sans-serif;
}

/* Page Header */
.page-header {
  background-color: #3d4f73;
  float: right;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-self: start;
}
.homepage .page-header {
  background-color: #fff;
}
.page-header__title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 200px;
  padding-bottom: 20px;
}
.page-header__title-description {
  margin-left: 0%;
  padding: 20px;
  display: block;
  color: #3d4f73;
  background-color: #3d4f73;
  font-weight: 100;
  font-size: larger;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

/* Navbar */
.navbar {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  position: relative;
  z-index: 1;
}
.navbar-brand {
  padding: 0;
}
.navbar-logo {
  width: 200px;
  height: 100px;
  margin-right: 20px;
  background-color: #3d4f73;
  margin-left: auto;
}
.homepage .navbar-logo {
  background-color: #fff;
}
/* Navbar Mobile Menu Button */
.navbar-mobile-menu {
  display: var(--navbar-mobile-menu-display);
  width: var(--navbar-mobile-menu-size);
  height: var(--navbar-mobile-menu-size);
  margin: auto 0;
  border: none;
  cursor: pointer;
  background: transparent;
}
.navbar-mobile-menu .line {
  display: block;
  width: var(--navbar-mobile-menu-size);
  height: 3px;
  background-color: #3d4f73;
  margin: 6px 0;
  transition: 0.4s;
}
.navbar.is-active .line:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
.navbar.is-active .line:nth-child(2) {
  opacity: 0;
}
.navbar.is-active .line:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
/* END Navbar Mobile Menu Button */

/* Navbar Menu */
.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: center;
  list-style: none;
  position: var(--navbar-menu-position);
  z-index: 99;
  transition: all ease-in-out .25s;
}
.navbar-menu-item {
  text-align: right;
}
.navbar-menu-link {
  display: block;
  padding: var(--navbar-menu-item-padding);
  color: #fff;
  font-weight: 100;
  font-size: large;
  text-transform: uppercase;
  text-decoration: none;
}
.homepage .navbar-menu-link {
  color: #3d4f73;
  font-weight: 500;
}
/* END Navbar Menu */

.navbar-search-container {
  min-width: 100%;
}
/* END Navbar */
/* END Page Header */

.pagetitle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 150px;
  padding-top: 0.0001rem;
  padding-bottom: 1rem;
}


.homepage .container input[type="text"] {
  float: left;
  padding: 10px 20px 10px 20px;
  border: #3d4f73;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #a7adc121;
}

.container input[type="text"] {
  float: left;
  padding: 10px 20px 10px 20px;
  border: #3d4f73;
  margin-right: 100px;
  margin-left: 20px;
  font-size: 16px;
}

div.news {
  float: left;
  width: 100%;
  background-color: #6583BF;
}

div.news h1 {
  color: #3d4f73;
  padding: 0px 0 0 100px;
  font-size: large;
}

main {
  background-color: #fff;
  padding: 5%;
}


.newsroll {
  margin-top: 230px;
  padding: 200px 0 0 0;
  

}
section {
  background-color: #a7adc121;
  margin-bottom: 1rem;
  padding: 1rem;
}
.homepage section {
  background-color: #3d4f73;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
}
.homepage section .newsroll {
  margin-top: 200px;
  padding: 50px;
 
}

embed {
  margin: auto;
  display: block;
  width: 50%;
  height: 1600px;
  padding: none;
}
h1 {
  padding: 1rem 1rem 0 1rem;
  transform: none;
}

h2 {
  color: #fff;
  padding: 1rem 0rem 0 1rem;
  font-size: larger;
 
}


h3,
h4,
h5,
h6 {
  color: #fff;
  padding: 1rem 0rem 0 1rem;
  font-size: large;
}
p {
  padding: 1rem 0rem 0rem 1rem;
  color: #1B2333;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 2rem;
}
a {
  color: #000;
  text-decoration: none;
}
.homepage p {
  color: #fff;
}
.homepage a {
  color: #fff;
}
.page-footer a {
  color: #fff;
}
.page-footer p {
  color: #fff;
}
.homepage a:hover {
  background-color: #3d4f73;
  color: #fff;
  cursor: pointer;
}
a:hover {
  background-color: #fff;
  color: #3d4f73;
  cursor: pointer;
}
a {
  color: #6583BF;
  font-weight: 200px;
}

h1 {
  text-align: center;
}
.form-container {
  margin: 80px auto;
  width: 50%;
  padding-top: 200px;
}
.form-group {
  margin-bottom: 10px;
  width: 100%;
}
.btn {
  background: fixed #3d4f73;
  padding: 4px 8px;
  border: none;
  box-shadow: 2px 1px 1px #8d9aa6;
  color: #ffffff;
  outline: none;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
}
label {
  display: block;
  margin-bottom: 2px;
  color: #1B2333;
  font-size: 16px;
  font-weight: 10px;
}
.form-group .form-control {
  width: 100%;
  outline: none;
  padding: 5px;
  border: none;
  background: #d1d1d1;
  border-bottom: 2px solid #3d4f73;
  font-size: 16px;
}
.form-group {
  color: #3d4f73;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 0.04em;
}
.has-success .form-control {
  border-bottom: 2px solid #d99559;
}
.has-danger .form-control {
  border-bottom: 2px solid #dc1d34;
}
.form-group .text-help {
  color: #dc1d34;
}
.inline-label label {
  display: inline;
}
.pristine-error {
  display: table;
}
.courseschedule {
  background-color: #3d4f73;
  border: none;
  color: #fff;
  padding: 0px 20px 20px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.courseschedule p {
  color: #fff;
  
}

.homelearnmore {
  background-color: #3d4f73;
  border: none;
  color: #fff;
  padding: 0px 20px 20px 0px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.courseschedule p {
  color: #fff;
  
}
.homelearnmore .button {
  background-color: #fff;
  color: #3d4f73;
 
}

.button {
  background-color: #fff;
  border: none;
  color: #3d4f73;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  cursor: pointer;
}

.page-footer {
  width: auto;
  height: auto;
  background-color: #3d4f73;
  padding: 2rem;
  margin: 0 0rem 0rem 0rem;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}
.page-footer p {
  font-style: normal;
  font-size: 16px;
  padding: 0px;
}
.page-footer a {
  color: #fff;
}
.page-footer a:hover {
  background-color: #fff;
  color: #3d4f73;
}

@media only screen and (max-width: 1023.75px) {
  :root {
    --navbar-menu-visibility: 0;
  }

  .navbar-menu {
    width: var(--navbar-menu-mobile-size);
    height: 100vh;
    position: absolute;
    top: 0;
    left: var(--navbar-menu-position-x);
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem 0;
    opacity: var(--navbar-menu-visibility);
    box-shadow: 2px 2px 20px rgb(0 0 0 / 25%);
    background: #fff;
  }
  .is-active .navbar-menu {
    --navbar-menu-visibility: 1;
    --navbar-menu-position-x: 0;
  }
  .navbar-menu-item {
    min-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --navbar-mobile-menu-display: none;
    --navbar-menu-position: inherit;
    --navbar-menu-visibility: 1;
    --navbar-menu-item-padding: 10px 20px;
  }
}

@media only screen and (min-width: 1200px) {
  :root {
    --navbar-menu-item-padding: 10px 50px;
  }
}
